# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/FrontEnd/node_modules
/FrontEnd/dist
/BackEnd/node_modules
/BackEnd/app/storage
/BackEnd/.env
/.pnp
.pnp.js

/Mobile/.expo
/Mobile/node_modules

# testing
/coverage

# production
/FrontEnd/build
/BackEnd/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock*

pnpm-lock.yaml*
package-lock.json*

users.txt

.sql
.firebase
.firebaserc
firebase.json